langchain
pydantic
requests
python-dotenv
langchain-openai
pypdf
python-docx
tenacity
litellm
pydantic-settings
langchain-community
langchain-classic
docx2txt
fastapi
uvicorn
python-multipart
pandas
streamlit
pytest
pytest-cov
python-pptx